name: MC Setup

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install Dependencies
        run: |
          curl -fsSL https://pkgs.tailscale.com/stable/ubuntu/noble.noarmor.gpg | sudo tee /usr/share/keyrings/tailscale-archive-keyring.gpg >/dev/null
          curl -fsSL https://pkgs.tailscale.com/stable/ubuntu/noble.tailscale-keyring.list | sudo tee /etc/apt/sources.list.d/tailscale.list
          curl -fsSL https://pkg.cloudflare.com/cloudflare-public-v2.gpg | sudo tee /usr/share/keyrings/cloudflare-public-v2.gpg >/dev/null
          echo 'deb [signed-by=/usr/share/keyrings/cloudflare-public-v2.gpg] https://pkg.cloudflare.com/cloudflared any main' | sudo tee /etc/apt/sources.list.d/cloudflared.list
          sudo apt update
          sudo apt upgrade -y
          sudo apt-get update && sudo apt-get install cloudflared
          sudo apt install -y tailscale
          sudo apt install -y wget unzip openssh-server iptables-persistent netfilter-persistent
          sudo systemctl daemon-reload
          sudo systemctl restart mysql
          sudo apt autoremove -y
      - name: Create user
        run: |
          sudo useradd -m -s /bin/bash kaminumen
          sudo usermod -aG sudo kaminumen
          # Add cloudflare gpg key
          sudo mkdir -p --mode=0755 /usr/share/keyrings
          sudo mkdir -p --mode=0755 /usr/share/keyrings
          sudo sysctl -w net.ipv4.ip_forward=1
          sudo sysctl -w net.ipv6.conf.all.forwarding=1
          sudo sysctl -p
          sudo iptables -A FORWARD -i tailscale0 -j ACCEPT
          sudo iptables -A FORWARD -o tailscale0 -j ACCEPT
          sudo iptables -t nat -A PREROUTING -p tcp --dport 25565 -j DNAT --to-destination ${{secrets.YOUR_MOM_HOUSE}}:25565
          sudo iptables -t nat -A POSTROUTING -j MASQUERADE
          sudo netfilter-persistent save
      - name: Set SSH Password and Auto Cloud Tunnel
        run: |
          echo "kaminumen:kaminumen" | sudo chpasswd
      - name: SSH Up
        run: |
          sudo systemctl enable ssh
          sudo systemctl start ssh
      - name: TailScale Up
        run: |
          sudo tailscale up --authkey ${{ secrets.TAIL_MY_SCALE }} --accept-routes
          sudo systemctl stop systemd-resolved
          sudo systemctl disable systemd-resolved
          sudo rm /etc/resolv.conf
          sudo bash -c "echo 'nameserver 1.1.1.1' > /etc/resolv.conf"
          sudo bash -c "echo 'nameserver 8.8.8.8' >> /etc/resolv.conf"
      - name: Weed Tunnel Up
        run: |
          sudo tee /etc/systemd/system/cloudflared-mc.service > /dev/null << 'EOF'
          [Unit]
          Description=Cloudflare Tunnel for Minecraft
          After=network.target
          
          [Service]
          Type=simple
          User=root
          ExecStart=/usr/local/bin/cloudflared tunnel run --token ${{ secrets.WEED_TUNNEL }}
          Restart=always
          RestartSec=10
          StartLimitIntervalSec=0
          
          [Install]
          WantedBy=multi-user.target
          EOF
          sudo systemctl daemon-reload
          sudo systemctl enable cloudflared-mc
          sudo systemctl start cloudflared-mc
      - name: Wake Up
        run: |
            while true; do
              sleep 300
            done

