name: MC Setup

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install wireguard
          sudo apt install -y wget unzip openssh-server
          
      - name: Create runneradmin user
        run: sudo useradd -m -s /bin/bash runneradmin

      - name: Set SSH Password
        run: echo "runneradmin:kaminumen1" | sudo chpasswd
        
      - name: Enable SSH
        run: |
          sudo systemctl enable ssh
          sudo systemctl start ssh

      - name: Download Ngrok
        run: wget https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-v3-stable-linux-amd64.zip -O ngrok.zip

      - name: Extract Ngrok
        run: unzip ngrok.zip

      - name: Authenticate Ngrok
        run: ./ngrok authtoken ${{ secrets.NGROK_AUTH_TOKEN }}

      - name: Create SSH Tunnel via Ngrok
        run: ./ngrok tcp 22
