name: MC Setup

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt upgrade -y
          sudo apt autoremove -y
          sudo apt install wireguard
          sudo apt update && sudo apt install wireguard-tools
          sudo apt install -y wget unzip openssh-server
      - name: Create user
        run: |
          sudo useradd -m -s /bin/bash kaminumen
          sudo usermod -aG sudo kaminumen
          
      - name: Set SSH Password
        run: |
          echo "kaminumen:kaminumen" | sudo chpasswd
        
      - name: Enable SSH
        run: |
          sudo systemctl enable ssh
          sudo systemctl start ssh
      - name: Download Ngrok
        run: |
          wget https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-v3-stable-linux-amd64.zip -O ngrok.zip
          unzip ngrok.zip
      - name: Authenticate Ngrok
        run: |
            ./ngrok authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
      - name: Create SSH Tunnel via Ngrok
        run: |
          ./ngrok tcp --region ap 22
